*{
	font-family: sans-serif;
	border-radius: 5px;
}

p{
	font-size: 17px;
}

hr{
	color: #2b3d6d;
}

input,textarea{
	max-width: 45%;
	margin: 2px;
	padding: 5px;
	font-size: 17px;
	resize: vertical;
	border: 3px solid gray;
	transition: 0.3s ease all 0s;
}

input:focus{
	border: 3px solid black;
}

textarea:focus{
	border: 3px solid black;
}

button{
	max-width: 25%;
	margin: 2px;
	padding: 5px;
	text-align: center;
	font-size: 17px;
	border: 2px solid black;
	background: white;
	transition: 0.3s ease all 0s;
}

button:hover{
	background: black;
	color: white;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
  padding: 1px 8px 8px 3px;
}

li{
  float: left;
  display: block;
}

a{
	color: #2b3d6d;
	text-decoration: none;
}

a:active{
	color: #2b4691;
}