*{
	font-family: sans-serif;
	border-radius: 5px;
	line-height: 2;
	box-sizing: border-box;
	font-weight: lighter;
}

h2, h3{
	text-align: center;
}

p{
	font-size: 17px;
	text-align: center;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.box{
	padding: 0 30px 20px;
	background: #e2e2e2;
}

input,textarea{
	width: 100%;
	margin: 2px;
	padding: 8px;
	font-size: 17px;
	resize: vertical;
	border: 3px solid gray;
	transition-duration: 0.2s;
}

input:focus{
	border: 3px solid black;
}

textarea:focus{
	border: 3px solid black;
}

button{
	width: 100%;
	margin: 2px;
	padding: 8px;
	text-align: center;
	font-size: 17px;
	border: 2px solid black;
	background: white;
	transition-duration: 0.2s;
}

button:hover{
	background: black;
	color: white;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
}

li{
  float: left;
  display: block;
  padding: 0 8px;
}

a{
	color: #2b4691;
	text-decoration: none;
}

a:active{
	color: #2b3d6d;
}