{% extends 'base.html' %}
{% block content %}

<div class='center'>
	<ul>
		<li><a href='/'>Main</a></li>
		<li><a href='/add'>Add Posts</a></li>
		<li><a href='/about'>About</a></li>
		<li><a href='/quit'>Quit</a></li>
	</ul>
</div>

<div class='center'>
	<div class='box'>
		<h2>Add Posts</h2>
		<form action='' method='post'>
			{{ form.csrf_token }}
			{{ form.title(placeholder='Title') }}<br><br>
			{{ form.body(placeholder='Body') }}<br><br>
			<button type='submit'>Add post</button>
		</form>
	</div>
</div>

{% endblock %}